Backend Development LeMarconnes Reserveringssysteem/obj/Debug/net10.0/Backend Development LeMarconnes Reserveringssysteem.sourcelink.json
.vs/Backend Development LeMarconnes Reserveringssysteem.slnx/FileContentIndex/31d16287-d273-4eba-8e9f-e6bec7fe50fb.vsidx
.vs/Backend Development LeMarconnes Reserveringssysteem.slnx/config/applicationhost.config
.vs/Backend Development LeMarconnes Reserveringssysteem.slnx/DesignTimeBuild/.dtbcache.v2
.vs/Backend Development LeMarconnes Reserveringssysteem.slnx/v18/.futdcache.v2
.vs/Backend Development LeMarconnes Reserveringssysteem.slnx/v18/.suo
.vs/Backend Development LeMarconnes Reserveringssysteem.slnx/v18/DocumentLayout.backup.json
*.bin
/Backend Development LeMarconnes Reserveringssysteem/obj
/Backend Development LeMarconnes Reserveringssysteem/bin
/.vs/Backend Development LeMarconnes Reserveringssysteem.slnx/FileContentIndex
