<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/9d3b3388-f418-491f-b75e-942d5312f0ac/resourceGroups/KE07-klasC-groep5/providers/Microsoft.ApiManagement/service/MarconnesCampingAPI/apis/MarconnesCamping</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/9d3b3388-f418-491f-b75e-942d5312f0ac/resourceGroups/KE07-klasC-groep5/providers/Microsoft.Web/sites/WebApp-LGPTeam-Camping-Marconnes</ResourceId>
    <ResourceGroup>KE07-klasC-groep5</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://webapp-lgpteam-camping-marconnes.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>98d346f6-c60d-4308-ba1e-c89d58a4f696</ProjectGuid>
    <PublishUrl>https://webapp-lgpteam-camping-marconnes.scm.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>